<p>
  Pays :
  <select [ngModel]="selectedCountry" (ngModelChange)="handleSelectCountry($event)">
    <option></option>
    <option *ngFor="let country of countries">
      {{ country }}
    </option>
  </select>
</p>
<p *ngIf="selectedCountry">
  Ville :
  <select [(ngModel)]="selectedCity">
    <option></option>
    <option *ngFor="let city of citiesMap[selectedCountry]">
        {{ city }}
      </option>
  </select>
</p>

<p>
    Vous avez sélectionné : {{selectedCountry}} {{selectedCity}}
</p>
<!--
1 / Utiliser ngFor pour créer autant d'options
que de pays dans le select du pays

2 / Ajouter ngModel sur select du pays pour remplir
selectedCountry

3 / ngIf sur le paragraphe de la ville
n'afficher le paragraphe que si une ville est selectionée

4 / ngFor sur la liste de ville et ngModel sur le select de ville
(variable selectedCity)
-->
